:root {
    --containerWidth: 865px;
    --containerHeight: 1225px;
    --chessBoardContainerWidth: 825px;
    --chessBoardContainerHeight: 825px;
    --gridWidth: 200px;
    --gridHeight: 200px;
    --lineColor: lightgray;
}


/* 游戏容器 */

.container {
    width: var(--containerWidth);
    height: var(--containerHeight);
    margin: 0px auto;
    /* background-color: coral; */
}


/* 棋盘 */

.temelp {
    top: 64px;
    left: 317px;
    width: 220px;
    height: 220px;
    border-width: 5px;
    border-style: solid;
    transform: rotate(45deg);
    border-color: var(--lineColor);
    position: relative;
}

#line1,
#line2 {
    width: 318px;
    height: 5px;
    background-color: var(--lineColor);
    position: relative;
}

#line1 {
    top: 48.3%;
    left: -22.7%;
    transform: rotate(45deg);
}

#line2 {
    top: 46.5%;
    left: -22.1%;
    transform: rotate(-45deg);
}

.chessBoardContainer {
    top: 105px;
    left: 20px;
    position: relative;
    width: var(--chessBoardContainerWidth);
    height: var(--chessBoardContainerHeight);
    background-color: var(--lineColor);
}

.grid {
    float: left;
    width: var(--gridWidth);
    height: var(--gridHeight);
    margin-top: 5px;
    margin-left: 5px;
    background-color: white;
    text-align: center;
    line-height: 200px;
}

.gridA {
    top: 120px;
    left: 121px;
    width: 573px;
    height: 573px;
    border-width: 5px;
    border-style: solid;
    transform: rotate(45deg);
    border-color: var(--lineColor);
    position: relative;
}

#line3,
#line4 {
    width: 1160px;
    height: 5px;
    background-color: var(--lineColor);
    position: relative;
}

#line3 {
    top: -21%;
    left: -20.4%;
    transform: rotate(45deg);
}

#line4 {
    top: -21.5%;
    left: -20.4%;
    transform: rotate(-45deg);
}

.gameName {
    top: 50%;
    left: 50%;
    width: 400px;
    height: 260px;
    margin-top: -130px;
    margin-left: -200px;
    text-align: center;
    font-size: 96px;
    /* 禁止被鼠标选中 */
    user-select: none;
    color: rgba(231, 76, 60, 0.12);
    position: absolute;
}


/* 鼠标坐标值 */

.coordinateContainer {
    top: 120px;
    height: 45px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    background-color: coral;
}

.downCoordinateContainer,
.moveCoordinateContainer {
    top: 0px;
    left: 10px;
    width: 400px;
    height: 45px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.moveCoordinateContainer {
    top: -45px;
    left: 445px;
}

.coordinateValue {
    float: left;
    margin-right: 10px;
    position: relative;
}

#down_x_abs::before,
#down_x_rel::before,
#move_x_abs::before,
#move_x_rel::before {
    content: "[x: ";
}

#down_y_abs::before,
#down_y_rel::before,
#move_y_abs::before,
#move_y_rel::before {
    content: "y: ";
}

#down_y_abs::after,
#down_y_rel::after,
#move_y_abs::after,
#move_y_rel::after {
    content: "]";
}