:root {
    --containerWidth: 825px;
    --containerHeight: 1425px;
    --chessBoardContainerWidth: 825px;
    --chessBoardContainerHeight: 825px;
    --gridWidth: 200px;
    --gridHeight: 200px;
    --lineColor: rgba(238, 228, 218, 1);
}

.container {
    width: var(--containerWidth);
    height: var(--containerHeight);
    margin: 50px auto;
    /* background-color: coral; */
}

.temelp {
    top: 50px;
    left: 312.5px;
    width: 190px;
    height: 190px;
    border-width: 5px;
    border-style: solid;
    transform: rotate(45deg);
    border-color: var(--lineColor);
    position: relative;
}

#line1,
#line2 {
    width: 275px;
    height: 5px;
    background-color: var(--lineColor);
    position: relative;
}

#line1 {
    top: 48.3%;
    left: -22.8%;
    transform: rotate(45deg);
}

#line2 {
    top: 46.5%;
    left: -22.8%;
    transform: rotate(-45deg);
}

.chessBoardContainer {
    top: 85px;
    position: relative;
    width: var(--chessBoardContainerWidth);
    height: var(--chessBoardContainerHeight);
    background-color: var(--lineColor);
}

.grid {
    float: left;
    width: var(--gridWidth);
    height: var(--gridHeight);
    margin-top: 5px;
    margin-left: 5px;
    background-color: white;
    text-align: center;
    line-height: 200px;
}

.gridA {
    top: 120px;
    left: 121px;
    width: 573px;
    height: 573px;
    border-width: 5px;
    border-style: solid;
    transform: rotate(45deg);
    border-color: var(--lineColor);
    position: relative;
}

#line3,
#line4 {
    width: 1160px;
    height: 5px;
    background-color: var(--lineColor);
    position: relative;
}

#line3 {
    top: -21%;
    left: -20.4%;
    transform: rotate(45deg);
}

#line4 {
    top: -21.5%;
    left: -20.4%;
    transform: rotate(-45deg);
}